#modal-content-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* modalì°½ */
.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-box {
    min-width: 40dvw;
    max-width: 80dvw;
    max-height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    gap: 2rem;
    padding: 3.6rem;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    /* left: 2rem;
    top: 30rem; */
    /* width: 90%; */
}

.modal-content-close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('assets/image/close.png');
  align-items: center;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}
.modal-content-close-button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.modal-title-box {
  font-size: 1.875rem; /* Equivalent to text-3xl in Tailwind */
  font-weight: 700; /* Equivalent to font-bold in Tailwind */
  color: #000000; /* White text */
}

.modal-alert-text-box {
    max-height: 80dvh;
    overflow: scroll;
    width: 100%;
}

.modal-button-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width:767px) {
  .modal-content-box {
    max-width: 90dvw;
    padding: 0;
    padding-top: 60px;
}
}